crypto/node_modules
crypto/npm-debug.log
crypto/ganache*.AppImage
crypto/metacoin/build
crypto/metacoin/constants.js
.idea
map/dist/bundle.js
map/node_modules
map/dist/bundle.js.map
env
credentials
credentials.py
__pycache__
